{% extends "base.html" %} 

{% block title %}LogIn{% endblock %}

{% block content %}

<form method="POST" class="h-100 d-grid align-items-center justify-content-center">
    <div>
    <h2 align="center">Login</h2>
    </div>

    <div>
        
        <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="floatingInputd" placeholder="name@example.com" required>
        <label for="floatingInputd">Email address</label>
        </div>

        <div class="form-floating mb-3">
        <input type="password" id="flaotingPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="flaotingPassword">Password</label>
        </div>


        </div>
        
        <button class="btn btn-secondary" type="submit">Login</button>

        <div class="text-center my-3 text-light">or</div>

        <a class="btn btn-outline-light w-100" href="{{ url_for('auth.login_google') }}">
            Continue with Google
        </a>

        <div id="new" class="form-text text-light">
            Don't have an account? <a style = "text-decoration: none;" href= "{{ url_for('auth.register') }}">Register now</a>
        </div>


</form>

{% endblock %}
