{% extends "base.html" %} 

{% block title %}SignUp{% endblock %}

{% block content %}

<form method="POST"  class="h-100 d-grid align-items-center justify-content-center">
    
    <h2 align="center">Register</h2>

        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput2" name="username" placeholder="username" required>
        <label for="exampleFormControlInput2">Username</label>
        </div>
        
        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required>
        <label for="exampleFormControlInput1">Email address</label>
        </div>

        <div class="form-floating mb-3">
        <input type="password" id="inputPassword5" class="form-control" name="password" aria-describedby="passwordHelpBlock" placeholder="password"  required>
        <label for="inputPassword5">Password</label>
        </div>

        <div class="form-floating mb-3">
        <input type="password" id="cpass" name="cpass" class="form-control" aria-describedby="passwordHelpBlock" placeholder="password" required>
        <label for="cpass">Confirm Password</label>
        </div>



        <button class="btn btn-secondary" type="submit">Submit</button>


        <div id="already" class="form-text text-light">
            Already have an account? <a style = "text-decoration: none;" href= "{{ url_for('auth.login') }}">Login now</a>
        </div>
</form>

{% endblock %}